.playButton {
  background-color: rgb(24, 172, 31);
  width: 200px;
  height: 50px;
  color: white;
  border: 1px black solid;
  border-radius: 10px;
  font-size: 25px;
}

.playButton:hover {
  background-color: rgb(15, 117, 20);
}
