p {
  font-size: 15px;
}

.menu {
  background-color: var(--background-color-menu);
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  position: fixed;
  visibility: hidden;
  transition: transform 0.4s;
}

.menu-open {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.menu-content {
  text-align: center;
  color: var(--font-color);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.leftalign {
  text-align: left;
}

.centeralign {
  text-align: center;
}

.menu-content ul {
  list-style: disc inside;
}
