html,
body {
  font-family: "Roboto";
  margin: 0px;
  background-color: rgb(21, 14, 51) !important;
}

.lyricGame {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.newGameDiv {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
