.lyricGrid {
  --side-padding: 20px;
  --column-count: 5;
  -webkit-column-count: var(--column-count);
  -moz-column-count: var(--column-count);
  column-count: var(--column-count);
  max-width: 1000px;
  width: calc(100% - 2 * var(--side-padding));
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

.lyricGrid::-webkit-scrollbar {
  display: none;
}

.lyricGridTile {
  text-align: center;
  vertical-align: middle;
  font-family: "Roboto";
  width: 150px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  background-color: gray;
  color: white;
  font-size: 12px;
  border-radius: 2px;
}
