.lyricGrid {
  --side-padding: 20px;
  --column-count: 6;
  -webkit-column-count: var(--column-count);
  -moz-column-count: var(--column-count);
  column-count: var(--column-count);
  max-width: 1000px;
  width: calc(100% - 2 * var(--side-padding));
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

.lyricGrid::-webkit-scrollbar {
  display: none;
}

.lyricGridTile {
  text-align: center;
  vertical-align: middle;
  width: 120px;
  height: 20px;
  line-height: 20px;
  background-color: gray;
  color: white;
  font-size: 12px;
  border-radius: 2px;
  overflow: hidden;
  margin: 0px auto 2px auto;
}

.correctTile {
  transition: background-color 0.2s;
  background-color: rgb(71, 71, 71);
}

.incorrectTile {
  background-color: rgb(219, 102, 102);
}
