:root {
  --lyric-tile-width: 120px;
}

.lyricGrid {
  --side-margin: 8%;
  --column-width: 130px;
  -webkit-column-width: var(--column-width);
  -moz-column-width: var(--column-width);
  column-width: var(--column-width);
  max-width: 1600px;
  width: calc(100% - 2 * var(--side-margin));
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
}

.lyricGrid::-webkit-scrollbar {
  display: none;
}

.lyricGridTile {
  text-align: center;
  vertical-align: middle;
  width: var(--lyric-tile-width);
  height: 20px;
  line-height: 20px;
  background-color: var(--tile-color);
  color: var(--font-color);
  font-size: 12px;
  border-radius: 2px;
  overflow: hidden;
  margin: 0px auto 2px auto;
}

.correctTile {
  transition: background-color 0.2s;
  background-color: var(--tile-color-correct);
}

.incorrectTile {
  background-color: var(--tile-color-failed);
}
